<div class="baseInputCheckbox baseInputCheckbox_theme_account {{class}}">
    <label class="d-flex" for="{{id}}">
        <span class="checkContainer">
            <input type="checkbox" value="" id="{{id}}" {{#if checked}}checked{{/if}}>
            {{> ../../../common/icons/check-mark-2/CheckMark2 class="icon"}}
        </span>

        <span class="label me-2">{{label}}</span>

        <span class="rouble ms-1 fw-semibold">{{price}}</span>
    </label>
</div>